iframe
  width: 100%
  height: 70%
  border none
  +ps-m()
    width: 310px;
    height: 344px;
    border: none;
    margin-left: -20px;
    margin-top: -44px;
.win__cont iframe
  +xxs-m()
    margin-left: -8px
.wrapper
  min-width: 1024px
  padding: 5px 30px
  margin: 0 auto
.relation
  position: relative
  col()
  size-q(6)
  &__ration
    padding-top: 56.25%
    height: 0
  &__content
    display: block
    position: absolute
    width: 400px;
    height: 270px;
    top: 20px;
    left: 70px;
    +xl-s()
      left: 61%
    +lg-s()
      left: 165px
    +sm-s()
      width: 206px;
      height: 140px;
      margin-left: 28px;
      margin-top: -9px;
    +ps-m()
      left: 4%
    +xx-m()
      left: 9%
    +xs-m()
      left: 14.5%
  &__player
    display: none;
    position: absolute;
    width: 400px;
    height: 385px;
    top: 0;
    left: 0;
    +xs-m()
      width: 300px
      height: 300px
    +sm-s()
      width: 229px;
      height: 220px;
    +xx-m()
      width: 268px;
      height: 266px;
    +xxs-m()
      width: 262px;
      height: 254px;
      margin-left: -5px
    +ps-m()
      width: 230px;
      height: 223px;


